.photo-list {
  overflow: hidden;

  .photo-item {
    float: left;
    width: 33%;
    position: relative;

    .photo-wrap {
      margin: 16px;
      background-color: #ccc;
      min-height: 160px;
      background-size: cover;
    }
    .photo-name {
      position: absolute;
      font-size: 24px;
      height: 30px;
      width: 100%;
      line-height: 30px;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      z-index: 10;
    }
    .photo-mask {
      position: absolute;
      left: 16px;
      right: 16px;
      top: 16px;
      bottom: 16px;
      background-color: #000;
      opacity: .3;
    }
  }
}