@import '../../index.scss';

.search-box-panel {
  position: absolute;
  left: 0;
  right: 0;
  height: 90px;
  bottom: 0;
  z-index: 10;

  .search-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .3;
    background-color: #000;
  }

  .search-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: w() - 200px;
    height: 90px;
  }
}